body {
    background-color: rgb(188, 222, 241);
}

#topo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 1.5vh 2vw;

    background-color: #232d8a;

    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;

}

#cabecalho {
    color: #FFF;
}

#menuTopo {
    width: 50%;
    align-self: baseline;
}

#menuTopo ul {
    display: flex;
    align-self: baseline;
    justify-content: space-between;

    padding-left: 0;

    width: 100%;
}

#menuTopo ul li {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    font-size: 120%;

    transition-duration: .4s;
}

#menuTopo ul li:hover {
    background-color: #0093d0;

    border-radius: 10px;

    transition-duration: .4s;
}

#menuTopo ul li a {
    color: #FFF;
    text-decoration: unset;
}

#noticias {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticiaDestaque {
    width: 50%;
    border: gray 1px solid;
    border-radius: 10px;
    box-shadow: gray 2px 2px 3px;
    align-items: center;

    justify-content: space-between;
}

.news-title {    
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px 12px;
}

.news-title p {
    color:rgb(61, 65, 66);
}

.news-title a {
    color: #000;
    text-decoration: none;
    transition: all 0.2 ease-in-out;
    margin-left: 10px;
}

.news-title a:hover {    
    color: rgba(0, 0, 0, 0.6);
}

#about {
    display: flex;
}

.about-img {
    width: 95%;
    border-radius: 10px;
}

#about-texto {
    border: black 1px solid;
    border-radius: 10px;
    background-color:  #232d8a;
}

#about-texto p {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#linkedin {
    margin-top: 20px;
}

.linkedin-img {
    width: 4%;
    border-radius: 10px;
}

#fontes ul {
    display: flex;
    align-self: baseline;
    justify-content: space-between;

    padding-left: 0;

    width: 100%;
}

#fontes ul li {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    font-size: 120%;

    transition-duration: .4s;
}

#fontes ul li:hover {
    background-color: #0093d0;

    border-radius: 10px;

    transition-duration: .4s;
}

#fontes ul li a {
    color: #000000;
    text-decoration: unset;
}